.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th{

    background-color: royalblue;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}